.explorer {
    text-align: center;
    background-color: #F6F6F6;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    & h2 {
        margin: 0;
        font-size: 24px;
    }

    & p {
        font-size: 18px;
    }

    & button {
        padding: 13px 18.75px;
        font-size: 16px;
        color: white;
        border: none;
        border-radius: 25px;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        @include base-shadow;
    }
}