.footer {
    display: flex;
    flex-direction: column;
    background-color: $grey-color;
    padding-left: 25px;
    

    .footer-text {
        padding-top: 16px;
    }

    & img {
        height: 27px;
        width: 137px;
        filter: invert(1) brightness(2);
        margin-top: 22px;
    }

    & p {
        margin: 0;
        padding: 5px;
        color: white;
    }

    & i {
        padding-right: 10px;
    }

}