/* URL et la base (body, etc) */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  box-sizing: border-box;
  /* Pour mettre les bordures en interne */
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
  position: relative;
}

header img {
  width: 197px;
  height: auto;
}

/*section city */
.city {
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.city i {
  padding-right: 17px;
}

/* section explorer */
.explorer {
  text-align: center;
  background-color: #F6F6F6;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.explorer h2 {
  margin: 0;
  font-size: 24px;
}
.explorer p {
  font-size: 18px;
  padding: 10px;
}
.explorer button {
  padding: 13px 18.75px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 0px 8px 19px 4px rgba(0, 0, 0, 0.2);
}

/* section functioning */
.functioning {
  padding: 48px 0;
}
.functioning h2 {
  margin-left: 20px;
}
.functioning ol {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  counter-reset: count;
}
.functioning li {
  text-align: center;
  background-color: #F6F6F6;
  box-shadow: 0px 8px 19px 4px rgba(0, 0, 0, 0.2);
  width: auto;
  margin-right: 20px;
  border-radius: 20px;
  padding: 26px;
}
.functioning li::before {
  content: counter(count);
  counter-increment: count;
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  transform: translateX(100%);
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.functioning li:nth-child(3) > :first-child {
  color: #9356DC;
}
.functioning i {
  margin-right: 27px;
  color: #7E7E7E;
}

/* box-shadow */
/*color */
/* section restaurant */
.restaurant {
  background-color: #F6F6F6;
  padding-top: 50px;
}
.restaurant h2 {
  margin-left: 20px;
}
.restaurant .restaurant-cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 18px;
  padding: 17px;
}
.restaurant .restaurant-cards a {
  color: black;
  text-decoration: none;
}
.restaurant .restaurant-cards .sticker-new {
  position: relative;
}
.restaurant .restaurant-cards .sticker-new::before {
  content: "Nouveau";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 29px;
  width: 80px;
  background-color: #99E2D0;
  color: rgb(27.4503816794, 96.5496183206, 79.5114503817);
  right: 15px;
  top: 15px;
  border-radius: 2px;
}
.restaurant .card {
  width: auto;
  height: auto;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.restaurant .card .card-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding-left: 13px;
  background-color: white;
}
.card-content .card-title {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 5px;
}
.card-content .card-subtitle {
  margin: 0;
  padding-bottom: 12px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding-left: 25px;
}
.footer img {
  height: 27px;
  width: 137px;
  filter: invert(1) brightness(2);
  margin-top: 22px;
}
.footer p {
  margin: 0;
  color: white;
  gap: 7px;
}
.footer i {
  padding-right: 10px;
}

/*# sourceMappingURL=style.css.map */
