* {
    box-sizing: border-box;
    /* Pour mettre les bordures en interne */
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header img {
    width: 197px;
    height: auto;
}