* {
    box-sizing: border-box;
    /* Pour mettre les bordures en interne */
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}
/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin: 0;
    position: relative;
}

header img {
    width: 197px;
    height: auto;
}

/* main */

main .city{
    display: flex;
    background-color: #EAEAEA;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

main i {
    padding-right: 17px;
}